@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
 

  background: linear-gradient(to right, #6b21a8, #86198f);
  background-attachment: fixed;
  min-width: 200px; /* Мінімальна ширина сайту */
  overflow-x: hidden;
  overflow-y: hidden;
}

.custom-scroll-history::-webkit-scrollbar {
  width: 10px; 
}

.custom-scroll-history::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  cursor: grab;
 
}
.custom-scroll-history {
  scrollbar-width: thin;
  
  scrollbar-color: #ccc; /* Колір полоси та фону */
}

.custom-history::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-scroll-tasks {
  scrollbar-width: thin;
  scrollbar-color: #ccc; /* Колір полоси та фону */
}

.custom-scroll-tasks::-webkit-scrollbar {
  width: 4px; /* Ширина полоси */
  background-color: rgba(110, 103, 103, 0.6);
}

.custom-scroll-tasks::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Колір полоси */
  border-radius: 4px; /* Радіус */
  background-clip: content-box;
}

/* WebKit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  cursor: grab;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.card {
  @apply w-[22rem] p-4;
}
.padding-r {
  @apply sm:pr-16 pr-8;
}
.padding-b {
  @apply sm:pb-24 pb-12;
}
.task-colls {
  @apply h-[44.5rem] overflow-auto custom-scrollbar;
}
.customInput {
  @apply mt-2 w-72 py-3 px-2 border border-gray-300 rounded hover:bg-violet-100 focus:ring-inset focus:ring-red-600 ;
}

.memInput {
  @apply mb-3 mt-2 w-64 py-2 px-1 border border-gray-300 rounded-md text-sm;
}
.centerForm {
  @apply grid place-items-center;
}

.regLogLinks {
  @apply text-lg font-semibold leading-6 transition-colors;
}
.linkHomePage {
  @apply mr-1 lg:mr-16 md:mr-8 sm:mr-1 text-lg font-semibold leading-6 transition-colors hover:text-blue-300;
}
.textOverInputField {
  @apply text-gray-500  tracking-widest text-sm font-semibold;
}

.bgColTasks {
  background-color: #181b06;
}

.bgTasks {
  background-color: #293035;
}
.bgTasksUp {
  @apply bg-gray-700;
}
.bgDetails {
  @apply bg-purple-700 hover:bg-purple-600 px-4;
}
.detailsInfo{
  @apply bg-gray-500 w-fit p-1 mb-2 rounded text-white
}

.bgStage{
 
  
  background: linear-gradient(to right,); 
}
/* CSS */
@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bgStage {
  background: linear-gradient(to right,  #1fc944, #3f5efb);
  animation: gradientMovement 3s linear infinite; /* 5s - час анімації */
  background-size: 200% 200%; /* Збільшення розміру градієнту для зміни позиції */
}

/* Налаштування тексту на градієнті */
.bgStage > h1 {
  padding: 1rem; /* Прикладна відстань навколо тексту */
}
